<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-3 mb-3" *ngFor="let item of filteredQuotationArr">
      <div class="card shadow">
        <!-- <img src="assets/images/farmer.jpg" class="cardImg" alt="..."> -->
        <div class="card-img-container hand">
          <img src="assets/images/farmer.jpg" class="cardImg" alt="..." (click)="showImagePopup()">
          <h5 class="card-title"><i class="fa fa-user-circle-o"></i> {{ item.fullName | uppercase }}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div>
                <!-- <h5 class="mb-3 text-center"><i class="fa fa-user-circle-o"></i> {{ item.fullName | uppercase }}</h5> -->
                <p><i class="fa fa-file-text"></i> RFQ Name: {{ item.rfqName }}</p>
                <p><i class="fa fa-phone"></i> Contact: {{ item.contactNo }}</p>
                <p><i class="fa fa-map-marker"></i> Address: {{ item.districtName }}, {{ item.talukaName }}, {{ item.cityName }}</p>
                <p><i class="fa fa-calendar"></i> Bidding: {{ item.biddingStartDate | date: 'dd-MM-yy' }} to {{
                  item.biddingStartDate | date: 'dd-MM-yy' | na }}</p>
                <p><i class="fa fa-calendar"></i> Quotation Release Date: {{ item.quotationReleaseDate | date:
                  'dd-MM-yy' | na }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-center">
              <button pButton pRipple class="p-button-success p-button-sm me-2" icon="fa fa-folder-open" label="Open"
                (click)="onOpen(item.quotationId)">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Image Preview" [(visible)]="displayImagePopup" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [breakpoints]="{'960px': '75vw', '640px': '95vw'}" [draggable]="false" [resizable]="false"
  (onHide)="closeImagePopup()">
  <img [src]="selectedImageUrl" alt="Image" class="popup-image">
</p-dialog>
